
<h1>Add a <%= params[:type] || "hero" %> to your team!</h1>

<%= form_tag("/matches/#{@match.id}/teams/#{@team.id}/edit", method: "get") do %>
  <%= hidden_field_tag :type, params[:type] || :hero %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @heroes.nil? == false %>
  <%= form_for @team, url: {action: "update"}, html: {class: "add_team"} do |f| %>
    <%= hidden_field_tag :type, params[:type] || :hero %>
    <% @heroes.each do |hero| %>
      <%= radio_button_tag(:character_id, hero.id) %>
      <%= label_tag(:character_id, hero.name) %><br>
    <%end%>
    <%= f.submit("Add Character to your Team") %>
  <%end%>
<%end%>

<%# MUST ADD HERO FIRST, go to show page, from show page, add villain. %>
<%# OR MAYBE JUST A LINK ON EDIT PAGE. SEE HOW LAZY YOU FEEL AT MIDNIGHT. %>


>> edit_match_team_path
=> "/matches/206/teams/766/edit"
>> edit_match_team_path(type: :villain)
=> "/matches/206/teams/766/edit?type=villain"