
<h2 class="left-pad"><%= @match.name %></h2>
<h4 class="left-pad"><strong>Stakes:</strong> <%= @match.stakes %></h4>


<div class="mdl-grid">
  <section class="mdl-cell mdl-cell--8-col">
  <% if @match.teams.count <= 3 %>
    <%= link_to "Add a team to this match!", new_match_team_path(@match.id), :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  <%end%>
  </section>

  <section class="mdl-cell mdl-cell--4-col">
  <% if Vote.find_by(user_id: @user.id).nil? && @match.teams.count > 0 %>
    <%= form_for @single_vote, url: votes_path do |f| %>
      <%= hidden_field_tag :user_id, @user.id %>
      <% @teams.each do |team| %>
        <%= radio_button_tag(:team_id, team["id"]) %>
        <%= label_tag(:team_id, team["name"]) %><br>
      <%end%>
      <%= f.submit "Vote!", data: {confirm: 'You have voted on this match. Thank you!'}, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <%end%>
    <%else%>
    <p class="mdl-button  mdl-button--raised mdl-button--accent">You already voted on this match!</p>
  <%end%>
  </section>
</div>

<section>
<% @teams.each do |team| %>
  <%= render partial: "/teams/team_block_view", locals: {team: team, match_votes: team.match.votes} %>
<%end%>
</section>

